.profile {
  background-color: #95afc0;
  border-radius: 3px;
  margin-top: 25px;
  width: 100%;
  display: inline-block;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.p_name {
  line-height: 18px;
  padding: 20px;
  color: whitesmoke;
}

.p_name .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
}

.p_name .title {
  font-size: 13px;
  color: #777;
  text-align: center;
  color: whitesmoke;
}

.p_figure {
  margin: 5px -20px;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.p_figure img {
  width: 100%;
}

.p_information {
  margin-left: 25%;
  margin-top: -45px;
}
