.body {
  background-color: #95afc0;
  border-radius: 3px;
  margin-top: 25px;
  width: 100%;
  display: inline-block;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.figure {
  margin: 5px;
}

.figure img {
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

.link {
  color: whitesmoke;
  margin: 5px;
}
